<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dandelion</title>
    <link href="/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.5/css/bootstrap.yeti.theme.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <style type="text/css">
      body{font-family: 微软雅黑;}
    </style>
  </head>
  <body>

      <div class="container">
      <div class="row" style="height:68px;">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">
                Dandelion
                <small style="font-size:10px;color:#767474;">[Beta]</small>
              </a>
              <p class="navbar-text navbar-right">Sign</p>
            </div>
          </nav>
      </div>