<?php include APPLICATION_VIEWS.'common/header.html' ?>
<?php include APPLICATION_VIEWS.'common/top_menu.html' ?>

<link href="/static/css/tree.css" rel="stylesheet">

<div class="row" style="margin-top:20px;">

  <div class="col-md-10">
      <div id="dropdown_branchs" class="btn-group" style="margin-bottom: -1px;">
            <a href="#" class="btn btn-xs btn-default" style="padding-left:15px;padding-right:15px;">
                trunk
            </a>
            <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="height:300px;overflow:scroll;overflow-x: hidden;">
            <?php
            foreach ($version_list as $key => $value) {
                foreach ($value as $path) {
                  echo '<li style="height:30px;"><a href="#">'.$path.'</a></li>';
                }
                echo '<li style="margin" class="divider"></li>';
            }
            ?>
            </ul>
      </div>
      <div id="panel_tree" class="panel panel-default" style="display:none;">
        <div class="panel-body" style="padding-top:20px;">
              <ul id="tree" class="tree treeFolder">
                  <li>
                    <div>
                      <div class="btntree expandable"></div>
                      <div class="glyphicon glyphicon-folder-close"></div>
                      <a target="navTab" rel="column" href="#">dir1</a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="btntree first_collapsable"></div>
                      <div class="glyphicon glyphicon-folder-open"></div>
                      <a target="navTab" rel="column" href="#">dir2</a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="indent"></div>
                      <div class="btntree node expandable"></div>
                      <div class="glyphicon glyphicon-file"></div>
                      <a target="navTab" rel="column" href="#">1111.txt</a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="indent"></div>
                      <div class="btntree node expandable"></div>
                      <div class="glyphicon glyphicon-file"></div>
                      <a target="navTab" rel="column" href="#">2222.txt</a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="indent"></div>
                      <div class="btntree first_collapsable"></div>
                      <div class="glyphicon glyphicon-folder-open"></div>
                      <a target="navTab" rel="column" href="#">dir2</a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="indent"></div>
                      <div class="indent"></div>
                      <div class="btntree node expandable"></div>
                      <div class="glyphicon glyphicon-file"></div>
                      <a target="navTab" rel="column" href="#">2222.txt</a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="btntree node"></div>
                      <div class="glyphicon glyphicon-file"></div>
                      <a target="navTab" rel="column" href="#">post.txt</a>
                    </div>
                  </li>
                  
              </ul>
        </div>
      </div>
      <div id="panel_loading" class="panel panel-default">

    <div style="width:80%;margin:auto;padding-top:100px;padding-bottom:100px;">
      <div class="progress progress-striped active" style="margin-bottom: 5px;">
        <div class="progress-bar progress-bar-info" style="width:100%;line-height: 15px;">Loading...</div>
      </div>
    </div>

      </div>
  </div>
  <div class="col-md-2">
      <div class="btn-group-vertical" style="padding-top:30px;width:100%;">
          <a href="#" class="btn btn-success disabled">发布勾选</a>
          <a href="#" class="btn btn-success">全量发布</a>
      </div>
  </div>

</div>


<?php include APPLICATION_VIEWS.'common/footer.html' ?>
<script type="text/javascript">

var version_path = '<?php echo $version_path;?>';
var project_name = '<?php echo $project_name;?>';

$(function(){

    $('#dropdown_branchs .dropdown-menu li').click(function(){
        var text = $(this).find('a').text();
        $('#dropdown_branchs a').eq(0).text(text);
        loadDirectory(text);
    });

    var loadDirectory = function(path){
        $('#panel_tree').hide();
        $('#panel_loading').show();
        $.post('/projectajax/readdirectory', {'name':project_name,'path':version_path+path}, function(result){
            if(result.code!=200){
                alert(result.message);
            }else{
                renderHtml(result.data.code);
                initevent();
            }
            $('#panel_tree').show();
            $('#panel_loading').hide();
        }, 'json');
    }

    var renderHtml = function(json){
        var append = '';
        $.each(json, function(key,value){
            append+='<li><div>';
            if(value.type=='dir'){
                append+='<div datatype=dir loaddata=false class="btntree expandable"></div>';
                append+='<div class="glyphicon glyphicon-folder-close"></div>';
            }else{
                append+='<div class="btntree tee expandable"></div>';
                append+='<div class="glyphicon glyphicon-file"></div>';
            }
            append+='<a target="navTab" rel="column" href="#">'+value.name+'</a>';
            append+='</div></li>';
        });
        $('#panel_tree #tree').html(append);
    }

    var initevent = function(){

        //展开
        $('#panel_tree li div[datatype=dir]').click(function(){
            var loading = '\
              <li><div>\
              <div class="indent"></div>\
              <div class="btntree node expandable"></div>\
              <font>Loading...</font>\
              </div></li>\
            ';
            $(this).parent().parent().append(loading);
        });
        
    }

    loadDirectory('trunk');

});

</script>

