<?php include APPLICATION_VIEWS.'common/header.html' ?>
<?php include APPLICATION_VIEWS.'common/top_menu.html' ?>
<style type="text/css">
#backbtn{font-weight: bold;border-radius: 2px;display: block;width: 20px;height: 16px;margin-left: 10px;text-align: center;}
#backbtn:hover{background-color: #fff;}
</style>
<div class="row" style="padding:15px;">

<div class="row" style="padding-left:15px;padding-right:5px;">
    <div id="dropdown_branchs" class="btn-group" style="float:left;">
      <a href="#" class="btn btn-xs btn-default" style="padding-left:15px;padding-right:15px;">trunk</a>
      <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" style="height:450px;overflow:scroll;overflow-x: hidden;">
        <?php
          foreach ($version_list as $key => $value) {
              foreach ($value as $path) {
                echo '<li style="height:30px;"><a href="#">'.$path.'</a></li>';
              }
              echo '<li style="margin" class="divider"></li>';
          }
        ?>
      </ul>
    </div>
    <input id="depo_path" style="height:28px;width:50%;float:left;margin-left:15px;" class="form-control input-sm" type="text" value="<?php echo $version_path; ?>" />
</div>


<div style="margin-top:15px;">


    <div id="loading" style="width:50%;margin:auto;padding-top:100px;display:none;">
      <div class="progress progress-striped active" style="margin-bottom: 5px;">
        <div class="progress-bar progress-bar-info" style="width: 100%"></div>
      </div>
    </div>

    <table id="codelist" class="table table-hover">
      <tbody></tbody>
    </table> 

</div>

</div>

<?php include APPLICATION_VIEWS.'common/footer.html' ?>
<script type="text/javascript">

var version_path = '<?php echo $version_path;?>';
var project_name = '<?php echo $project_name;?>';

$(function(){

    $('#dropdown_branchs .dropdown-menu li').click(function(){
        var text = $(this).find('a').text();
        $('#dropdown_branchs a').eq(0).text(text);
        loadDirectory(version_path+text);
    });

    var loadDirectory = function(url){
        $('#codelist').hide();
        $('#loading').show();
        $('#depo_path').val(url);
        $.post('/projectajax/readdirectory', {'name':project_name,'path':url}, function(result){
            if(result.code!=200){
                alert(result.message);
            }else{
                renderHtml(result.data);
                initevent();
            }
        }, 'json');
        var renderHtml = function(json){
            var append = '';
            if(version_path!=json.back+'/'){
                append+='<tr><td colspan=4> <a id="backbtn" href="#" data-back="'+json.back+'">..</a> </td></tr>';
            }
            $.each(json.code, function(key, val){
                append+='<tr>';
                if( val.type == 'dir' ){
                    append+='<td style="min-width:100px;" data-type=dir><i class="glyphicon glyphicon-folder-close"></i>';
                }else{
                    append+='<td style="min-width:100px;" data-type=file><i class="glyphicon glyphicon-file"></i>';
                }
                append+=' <a data-path='+val.path+' href="#">'+val.name+'</a></td>';
                append+='<td>'+val.msg+'</td>';
                append+='<td>'+val.author+'</td>';
                append+='<td style="text-align: right;">'+val.date+'</td>';
                append+='</tr>';
            });
            $('#codelist tbody').html(append);
            $('#codelist').show();
            $('#loading').hide();
        }
    }

    var loadFileContent = function(url){
        $('#codelist').hide();
        $('#loading').show();
        $('#depo_path').val(url);
        $.post('/projectajax/readfilecontent', {'name':project_name,'path':url}, function(result){
            if(result.code!=200){
                alert(result.message);
            }else{
                var append='';
                append+='<tr><td colspan=4> <a id="backbtn" href="#" data-back="'+result.data.back+'">..</a> </td></tr>';
                append+='<tr><td colspan=4><pre>'+result.data.content+'</pre></td></tr>';
                $('#codelist tbody').html(append);
                $('#codelist').show();
                $('#loading').hide();
            }
            initevent();
        }, 'json');
    }

    var initevent = function(){
        $('#codelist tbody td[data-type=dir] a').click(function(){
            var dirname = $(this).attr('data-path');
            loadDirectory(dirname);
            return false;
        });
        $('#codelist tbody td[data-type=file] a').click(function(){
            var dirname = $(this).attr('data-path');
            loadFileContent(dirname);
        });
        $('#backbtn').click(function(){
          var dirname = $(this).attr('data-back');
          loadDirectory(dirname);
          return false;
        });
    }

    loadDirectory(version_path+'trunk');

});
</script>